name: Build and Publish

on:
  push:
    branches: [ 'main' ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  call-reusable-workflow:
    uses: coolcow/workflows/.github/workflows/build-and-publish.yml@v1.0.0
    with:
      image_name: 'entrypoints'
      build_context: 'build'
    secrets: inherit
